@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--light-color: #f4f4f4;
	--dark-color: #333;
	--border-color: #e3e3e3;
	--border-radius: 3px;
	--box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
	background-color: var(--light-color);
	font-size: 1.2rem;
}

section {
	margin: 2rem;
}

.container {
	max-width: 800px;
	margin: 0 auto;
}

.card {
	padding: 2.5rem;
	background: #fff;
	box-shadow: var(--box-shadow);
	border-radius: var(--border-radius);
}

.button {
	padding: 1rem;
	font-size: 1.2rem;
	border: none;
	background-color: var(--dark-color);
	color: var(--light-color);
	border-radius: var(--border-radius);
	transition: background-color .5s ease;
}

.button:hover {
	background-color: #666;
}

.button:active {
	background-color: var(--dark-color);
	transition: background-color 0s;
}

.new-user .fields {
	margin-bottom: 2rem;
}

.new-user .fields .field {
	margin-bottom: 1.5rem;
}

.new-user .fields .field:last-child {
	margin-bottom: 0;
}

.new-user .fields .field input {
	display: block;
	width: 100%;
	padding: 1rem;
	margin-top: 1rem;
	font-size: 1.2rem;
	border: 1px solid var(--border-color);
}

.new-user .controls {
	text-align: right;
}

.users .user {
	margin-bottom: 1.5rem;
	padding: 1rem;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	display: flex;
	flex-wrap: wrap;
	align-content: stretch;
	justify-content: space-between;
	height: 130px;
}

.users .user:last-child {
	margin-bottom: 0;
}

.users .user .user-details {
	width: 80%;
	height: 100%;
}

.users .user .user-details h2 {
	font-weight: 400;
	margin-bottom: .5rem;
}

.users .user .user-details p {
	font-size: 1rem;
	height: 50%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.users .user .user-controls {
	width: 15%;
	display: flex;
	border-radius: var(--border-radius);
}

.users .user .user-controls .cancel {
	width: 100%;
	text-align: center;
}

.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal-container:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #3333;
}

.modal-container .card {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 25%;
	height: 25%;
	transform: translate(-50%, -50%);
}

.icon-button {
	height: 4rem;
	aspect-ratio: 1 / 1;
}

.card > header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}
